lib/
bindist/
.classpath
.project
.settings/
bin/
report/
dist/
.idea/
/src/org/processmining/specpp/util/PrivatePaths.java
/src/org/processmining/specpp/headless/PrivatePlayground.java
/eSTMiner/output/
/dll/
